{% extends "layout.html" %}
{% block title %}Creazione Personaggio{% endblock %}

{% block content %}
<h1>Crea un personaggio</h1>

<form action="{{ url_for('characters.create_char') }}" method="POST">
    <div>
        <label for="nome">Nome personaggio:</label><br>
        <input type="text" id="nome" name="nome" required>
    </div>

    <div>
        <label for="classe">Seleziona la classe:</label><br>
        <select id="classe" name="classe" required>
            <option value="" disabled selected>-- Seleziona una classe --</option>
            {% for classe_pg in classi.keys() %}
                <option value="{{ classe_pg }}">{{ classe_pg }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="oggetto">Seleziona l'oggetto:</label><br>
        <select id="oggetto" name="oggetto" required>
            <option value="" disabled selected>-- Seleziona un oggetto --</option>
            {% for oggetto in oggetti.keys() %}
                <option value="{{ oggetto }}">{{ oggetto }}</option>
            {% endfor %}
        </select>
    </div>

    <br>
    <input type="submit" value="Crea Personaggio">
    <input type="reset" value="Reset">
</form>
{% endblock %}
