{% extends "layout.html" %}
{% block title %}Seleziona Ambiente{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="card shadow">
        <div class="card-body text-center">
          <h2 class="card-title mb-4">Seleziona Ambiente</h2>

          <form method="post">
            <div class="mb-3">
              <select name="ambiente_id" class="form-select" required>
                <option disabled selected>-- scegli ambiente --</option>
                {% for id, ambiente in ambienti.items() %}
                  <option value="{{ id }}">{{ ambiente.nome }}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Seleziona</button>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
