<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <!-- Votre contenu ici -->
</body>
    <h1>HOME PAGE</h1>
    <p> Welcome to our site</p>
    <ul>
        <li>
            <a href="/">Home page</a>
        </li>
        <li>
            <a href="/articles/">Articles</a>
        </li>
        <li>
            <a href="/contacts/">Nos contacts</a>
        </li>
        
      </ul> 
</html>